SOUNDCLOUD_CLIENT_ID="abc123"
SOUNDCLOUD_SECRET="abc123"

GOOGLE_TRANSLATE_API_KEY="abc123"

SOUNDCLOUDSAID_BLUESKY_USERNAME="abc123"
SOUNDCLOUDSAID_BLUESKY_PASSWORD="abc123"

SOUNDCLOUDSAIDSOURCE_BLUESKY_USERNAME="abc123"
SOUNDCLOUDSAIDSOURCE_BLUESKY_PASSWORD="abc123"

SOUNDCLOUDSAID_MASTODON_ACCESS_TOKEN="abc123"
SOUNDCLOUDSAIDSOURCE_MASTODON_ACCESS_TOKEN="abc123"
